language: java
jdk: oraclejdk8
before_install:
 - chmod +x gradlew
addons:
  sonarcloud:
    organization: "sonarcloud_organization_key"
    token:
      secure: $SONAR_TOKEN 
script:
  - sonar-scanner